<%- include('header') -%>

<div class='single-blog-container'>
    <div class="single-blog-heading flex-item">
        <h2>
            My name is SATYAM
        </h2>
    </div>
    <div class="single-blog-content">
        <h2>
            I am a 18 year old student, persuing BCA from GANGA INSTITUTE OF TECHNOLOGY AND MANAGEMENT. I am from Delhi . However, currently living in Thane, Mumbai . I am working as Sales exceutive in a robotics based education startup, THE ROBOBOX . 
        </h2>
    </div>
</div>


<%- include('footer') -%>