<%- include('header') -%>

    <div class='single-blog-container'>
        <div class="about-div badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light"
            data-type="HORIZONTAL" data-vanity="satyam-tiwari-981b1a233" data-version="v1">
            <!-- <a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/satyam-tiwari-981b1a233?trk=profile-badge">Satyam tiwari</a> -->
        </div>
    </div>


    <%- include('footer') -%>