<section>

</section>
<footer>
    copyright &copy; myBlog.com 2021
</footer>
</body>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
</html>