<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to myBlog | write an share your blog with others</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <h1 class="logo">myBlog</h1>
        <ul class="right-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/compose">Compose</a></li>
            <% if(userData){%>
                <li><a href="/register"><%= userData.username %></a></li>
            <% }else{ %>
                <li><a href="/register">Register</a></li>
                <li><a href="/signin">Sign In</a></li>
            <%}%>
        </ul>
    </nav>
