<%- include('header') -%>

    <div class='single-blog-container'>
        <div class="single-blog-heading flex-item register-heading sign-in-heading">
            <h2>
                Sign in to myBlog
            </h2>
        </div>
        <form action="/signin" method="post" class="sign-in-form register-form flex-item flex-column">
            <!-- <input type="text" name="userName" placeholder="Enter Username" class="register-username" required  autocomplete="off"> -->
            <input type="email" class="register-email sign-in-email" name="email" placeholder="Enter Your Email Address"
                class="register-username" required autofocus autocomplete="off">
            <input type="password" name="key" class="register-key sign-in-key" placeholder="Enter Your Password"
                class="register-username" required autocomplete="off">
            <button type="submit" class="single-blog-heading register-btn">Sign In</button>
        </form>
    </div>


<%- include('footer') -%>