/* ----------------------Import Stuff---------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* ----------------------CSS Reset---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font1: 'Montserrat', 'sans-serif';
    --font2: 'Baloo Bhaina 2', 'cursive';
    --font3: 'Merriweather', serif;
    --mainbgcol: rgb(163, 24, 163);
    border: none;
    outline: none;
}
*:focus{
    outline: none;
}

/* ----------------------Universal---------------------- */

button:hover{
    cursor: pointer;
}
.flex-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}

body{
    background-color: rgb(243, 179, 41);
}

/* ----------------------Header Section---------------------- */

.navbar{
    display: flex;
    align-items: center;
    margin: 0 10%;
    margin-top: 1%;
    height: 9vh;
    position: sticky;
    top: 0;
    background-color: rgb(243, 179, 41);
    border-bottom: 2px solid black;
    z-index: 100;
    justify-content: space-between;
    padding: 0 15px;
}
.right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 13px;
}
.logo{
    font-size: 180%;
    font-family: var(--font1);
    z-index: 99;
}
.right-nav li {
    list-style: none;
    border-radius: 4%;
    font-size: 30px;
}
.right-nav li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: var(--font2);
    font-weight: bolder;
}
.right-nav li a:hover {
    color: var(--mainbgcol);
}

/* ----------------------Footer Section---------------------- */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30px;
    background-color: aquamarine;
    position: fixed;
    left: 0;
    bottom: 0;
}


/* ----------------------Home Page---------------------- */

.all-blogs-container{
    width: 60%;
    margin: 25px auto;
    margin-bottom: 100px;
}
.blog-container, .single-blog-container{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 25px 0;
    min-height: 280px;
    position: relative;
}
.blog-heading, .no-blog-heading, .single-blog-heading{
    height: 50px;
    background-color: blueviolet;
    color: white;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 23px;
}
.no-blog-heading a{
    color: black;
}
.blog-content, .single-blog-content{
    padding: 10px;
    overflow: hidden;
}
.more{
    display: block;
    position: absolute;
    right: 15px;
    bottom: 8px;
}
/* ----------------------Compose Page---------------------- */

.compose-container{
    margin: 15px;
    background-color: rgb(243, 179, 41)
}
.compose-container h1{
    margin: 15px 0;
}
.new-blog{
    width: 80vw;
    justify-content: left;
    gap: 20px;
}
.new-blog-heading, .new-blog-content, .compose-btn{
    height: 50px;
    width: 60vw;
    padding: 10px;
    border-radius: 10px;
    font-size: 23px;
}
.new-blog-content{
    height: 40vh;
    resize: none;
}
.compose-btn{
    height: 50px;
    transition: 0.25s;
    background-color: blueviolet;
    color: white;
}
.compose-btn:hover{
    background-color: rgb(168, 86, 245);
}

/* ----------------------Blog Page---------------------- */

.single-blog-container{
    margin: auto;
    margin-top: 50px;
    min-height: 70vh;
    width: 60%;
}
.del-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 150px;
    background-color: blueviolet;
    border-radius: 6px;
    color: white;
}

/* ----------------------Register Page---------------------- */

.register-heading{
    color: green;
    background-color: transparent;
    border: 2px solid rgb(0, 255, 21);
    height: 60px;
}
.register-form{
    margin-top: 50px;
    width: 100%;
    gap: 35px;
}
.register-form input{
    height: 70px;
    width: 85%;
    border-bottom: 2px solid rgb(0, 255, 21);
    border-radius: 8px;
    padding: 5px;
    font-size: 23px;
}
.register-btn{
    margin-top: 10px;
    width: 70%;
    height: 75px;
    font-size: 27px;
    color: darkgreen;
    background-color: rgb(26, 240, 133);
}
.register-btn:hover{
    background-color: rgb(88, 241, 165);
}

.sign-in-email{
    margin-top: 65px;
}

.about-div{
    /* background-color: rgb(238, 149, 149); */
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    margin: 25px auto;
    position: relative;
    display: inline-block;
}